<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="../../modules/jquery-mobile/jquery.mobile-1.4.5.min.js"></script>
        <link rel="stylesheet" href="../../modules/jquery-mobile/blackandblue.min.css">
        <link rel="stylesheet" href="../../modules/jquery-mobile/jquery.mobile-1.4.5.css">
        <link rel="stylesheet" href="../../css/style.css">

    </head>

    <body class="ui-mobile-viewport ui-overlay-a">
        <!--
            
            ALUMN SELECTION PAGE
            
        -->
        <div data-role="page" id="list" data-theme="d">
            <div data-role="header" data-position="inline">
                <h1>Evaluación Alumnado</h1>
                <a href="#" data-rel="back" data-icon="arrow-l"  data-role="button" role="button">Back</a>
                <a href="#" class="ui-btn ui-btn-inline ui-icon-power ui-btn-icon-left ui-mini salir">Salir</a>
            </div>
            <div data-role="content" class="ui-content" data-theme="d">
                <div class="ui-grid-b">
                    <div class="ui-block-a"></div>
                    <div class="ui-block-b">
                        <div id="alumno"></div>
                        <div id="contenidos"></div>
                        <div id="presentacion"></div>
                        <div id="expresion"></div>
                        <div id="calificacion"></div>
                        <form  action="#eval" method="post">
                            <input type="submit" id="evaluaragain" data-theme="d" value="Evaluar otro Alumno">
                        </form>
                    </div>
                    <div class="ui-block-c"></div>
                </div>
            </div>
            <div data-role="footer" data-position="fixed" class="ui-footer ui-bar-inherit ui-footer-fixed slideup">
                <h5>Calificación del Alumno</h5></div>
        </div>
        <script type="text/javascript" src="../js/calificacion.js"></script>
    </body>

</html>