<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../modules/jquery/jquery-2.2.0.js"></script>
    <script src="../../modules/jquery-mobile/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="../../modules/jquery-mobile/jqmobile.min.css">
    <link rel="stylesheet" href="../../modules/jquery-mobile/jquery.mobile-1.4.5.css">
</head>

<body>
    <div data-role="page" data-theme="c">
        <div data-role="header" data-position="inline">
            <h1>Evaluación Alumnos</h1>
            <a href="index.html" data-icon="home" class="ui-btn-active">Home</a>
        </div>
        <div data-role="content" data-theme="c">

            <form action="#">
                <div data-role="fieldcontain">
                    <label for="user">Username</label>
                    <input type="text" name="user" id="user" value="" placeholder="Input your username" />
                </div>

                <div data-role="fieldcontain">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                    </textarea>
                </div>
                <div class="ui-body">
                    <fieldset class="ui-grid">
                        <div class="ui-block">
                            <div class="ui-block">
                                <button type="submit" data-theme="c">Login</button>
                            </div>
                    </fieldset>
                    </div>
            </form>
</body>

</html>